[init]
	defaultBranch = main
[user]
	name = George Greene
	email = 170787498+george-greene@users.noreply.github.com
[push]
	autoSetupRemote = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[commit]
	gpgsign = true
